html, body, .page-wrap, .content-wrap {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

section {
  width: 100%;
  min-height: calc(100% - 6em);
  height: auto;
  position: relative;
  display: flex;

}

article {
  width: 100%;
  max-width: 60em;
  margin: 0 auto;
}

.hero {
  background-image: url(../../images/hero.JPG);
  //height: calc(100% - 50em);
  margin: 6em 0 0 0;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .info {
    max-width: 25em;
    margin-right: 10em;
    padding: 1em;
  }
  .headline {
    font-size: 2.5em;
    margin-bottom: 0.1em;
  }
  .subheadline {
    @extend .light;
    font-size: 1.8em;
    margin-top: 0;
    line-height: 1.5em;
  }
}

.tasks {
  margin-top: 6em;
  padding: 0.4em;
}

.grid-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  .module {
    max-width: 20em;
    min-width: 18.5em;
    padding:0 1em 1.5em 0;
    flex: 1;
    figure {
      margin: 0;
    }
    figcaption {
      text-decoration: none;
    }
    img {
      width: 100%;
      background-color: $grey-light;
    }
  }
}

.lectures {
  flex-flow: row wrap;
  align-content: flex-start;
  article {
    min-width: 25em;
    max-width: 48%;
    margin: 1%;
    padding: 1em;
    background-color: $grey-light;

  }
}

.aboutme {
  margin-top: 5em;
  background-image: url(../../images/about.jpg);
  background-size: cover;
  background-position: bottom;
  align-items: center;
  article {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
  }
  .text {
    min-width: 16em;
    flex: 1;
    margin-top: -2em;
    padding: 1em;
    p {
      font-weight: 300%;
      font-size: 1.2em;
      line-height: 1.5em;
    }
  }
  .aside {
    min-width: 16em;
    flex: 1;
    img {
      width: 72%;
      margin: 0 10%;
      border-radius: 50%;
      border: 0.5em solid #fff;
    }
  }
}