.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  min-height: 6em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: #fff;
  box-shadow: 0 -1px 4px rgba(0,0,0,0.5);
  nav {
    min-width: 16em;
  }
}
.main-nav {
  display: flex;
  list-style-type: none;
  margin-right: 2em;
  min-width: 16em;
  padding: 0;
  li a {
    padding: 1em 0.5em;
    color: $grey;
    text-decoration: none;
    font-size: 1.05em;
  }
}

.logo {
  color: red;
  text-decoration: none;
  font-size: 2em;
  font-weight: 700;
  padding: 0.3em;
  min-width: 11.5rem;
}