@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

* {
  font-family: 'Lato', 'Helvetica', 'Arial', sans-serif;
  font-weight: 400;
  color: $grey;
  font-size: 16px;
  line-height: 1.2em;
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, .bold, strong {
  font-weight: 700;
  color: $grey_dark;
}

h1, .h1 {
  font-size: 2em;
}
h2, .h2 {
  font-size: 1.5em;
}
h3, .h3 {
  font-size: 1.4em;
}
h4, .h4 {
  font-size: 1.3em;
}
h5, .h5 {
  font-size: 1.2em;
}
h6, .h6 {
  font-size: 1.1em;
}

.light {
  font-weight: 300;
}

a {
  color: $red;
}