* {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}
body {
  max-width: 50em;
  margin: 0 auto;
}
dt {
  background-color: skyblue;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
  cursor: pointer;
}

dd {
  margin:-1em 0 2em;
  padding: 1em;
  border: 0.1em solid skyblue;
  display: none;
}

.active {
  display: block;
}